/* global css */

body {
  background-color: #fff
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0
}

li {
  list-style: none
}

p {
  font-size: 16px;
  color: #999;
}

a {
  color: wheat;
  text-decoration: none
}

section {
  padding: 30px 0
}

/* splash screen css */

.splash {
  background-color: tomato;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.loader {
  width: 140px;
  height: 160px;
}

.count {
  color: #fff;
  font-family: 'Monoton', cursive;
  text-align: center;
  font-size: 90px;
}

/* banner section css starts here */

.banner {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #000;
  align-items: center;
  text-align: center;
  z-index: 100;
}

.wave {
  position: absolute;
  bottom: -100px;
  left: 0;
  height: 200px;
  z-index: -100;
}

.banner-content {
  font-weight: 700;
  color: #fff;
}

.banner-content .name {
  animation: font-name 45s ease-in-out infinite;
  font-size: 80px;
  text-align: center;
  font-family: 'Kaushan Script',
  cursive;
  color: #fff;
  margin-top: 40px;
}

@keyframes font-name {
  0% {
    color: rgb(255, 147, 147);
  }
  25% {
    color: yellow;
  }
  50% {
    color: rgb(182, 182, 241);
  }
  75% {
    color: rgb(255, 208, 132);
  }
  100% {
    color: rgb(114, 236, 114);
  }
}

.developer {
  width: 250px;
  height: 250px;
}



.sub-title {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25vh;
}

.colors {
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: shine 12s linear infinite;
  -webkit-animation: shine 12s linear infinite;
  animation: shine 12s linear infinite
}

.colors.theme-color {
  background: linear-gradient(to right, #00c2eb 20%, #00ff9c 40%, #00ff9c 60%, #00c2eb 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text
}

/* portfolio section css */

.title {
  font-size: 90px;
  text-align: center;
  color: rgb(0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  background: url('../img/title-bg.jpeg') center no-repeat;
  margin: 50px 0;
  background-size: contain;
}

.portfolio {
  margin: 200px 0;
}

/* others section css */

.others-grid .thumbnail {
  margin: 30px;
  box-shadow: 0 2px 15px #999;
  transition: all .3s ease-out;
}

.others-grid .thumbnail:hover {
  transform: translate(0, -10px);
}

/* skills section css */

.skills .thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 300px;
  box-shadow: 0 0 10px #999;
  position: relative;
  margin-bottom: 25px;
}

.skills .list {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000;
  color: #fff;
  visibility: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity .2s, visibility .5s
}

.skills .thumbnail:hover .list {
  visibility: visible;
  opacity: 1
}

.skills .icon {
  font-size: 190px;
  color: #00c2eb
}

/* projects css section */

.projects .row {
  margin: 30px 0
}

.project-title {
  text-transform: uppercase;
  font-size: 25px;
  padding: 20px 0;
}

.projects .caption {
  padding: 5px 0;
  margin: 2px;
}

.tech {
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(0, 40, 86);
  font-weight: bold;
}

.projects .caption a {
  color: orange;
  text-transform: uppercase;
  font-size: 10px;
}

.projects .thumbnail {
  padding: 10px;
  box-shadow: 0 0 20px #999;
}

/* footer section css */

.copyright {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.copyright p {
  margin: 0;
  text-align: center;
  color: #999;
  font-size: 10px;
  text-transform: capitalize;
}

/* connect css */

.connect-grid {
  background: url(../img/footer.png);
  background-size: cover;
}

.connect .thumbnail {
  margin: 15px;
  height: 300px;
  box-shadow: 0 2px 15px #999;
  transition: all .3s ease-out;
  border: 15px solid #000;
  background-color: #fff;
  background-image: linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.connect .thumbnail:hover {
  transform: translate(0, -10px);
  transition: all 1.4s;
}

.connect .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}