@font-face {
  font-family: "Desire";
  src: url(../fonts/delight.woff)
}

body {
  background-color: #fff
}

ul {
  margin: 0;
  padding: 0
}

li {
  list-style: none
}
p {
  text-align: center;
  font-size: 16px;
  color: #999;
}

a {
  color: wheat;
  text-decoration: none
}

.banner {
  height: 100vh;
  background: url(../img/banner-footer.jpg) no-repeat center fixed;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3)
}

.banner-content {
  font-weight: 700;
  color: #fff
}

.banner-content .name {
  font-family: "desire";
  font-size: 60px;
  text-align: center;
  color: #000;
  text-align: center;
}

.title {
  font-size: 70px;
  text-align: center;
  color: #000;
  font-size: 90px;
  text-align: center;
  color: #110015;
  text-transform: uppercase;
  border-bottom: 1px solid wheat;
  border-top: 1px solid wheat;
  margin: 50px 0;
}

.sub-title {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}

.colors {
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-animation: shine 12s linear infinite;
  -webkit-animation: shine 12s linear infinite;
  animation: shine 12s linear infinite
}

.colors.theme-color {
  background: linear-gradient(to right, #00c2eb 20%, #00ff9c 40%, #00ff9c 60%, #00c2eb 80%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text
}

.down-icon {
  font-size: 40px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  animation: anim 2s linear infinite
}

@keyframes anim {
  0% {
    transform: scale(1)
  }
  30% {
    transform: scale(1)
  }
  40% {
    transform: scale(1.18)
  }
  50% {
    transform: scale(1)
  }
  60% {
    transform: scale(1)
  }
  70% {
    transform: scale(1.25)
  }
  80% {
    transform: scale(1)
  }
  100% {
    transform: scale(1)
  }
}

section {
  padding: 30px 0
}

.others-grid .thumbnail {
  margin: 30px;
  box-shadow: 0 2px 15px #999;
  transition: all .3s ease-out;
}

.others-grid .thumbnail:hover {
  transform: translate(0, -10px);
}

.skills .thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 300px;
  box-shadow: 0 0 20px #999;
  position: relative;
  margin-bottom: 25px
}

.skills .list {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(29, 106, 154, .9);
  color: #fff;
  visibility: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity .2s, visibility .5s
}

.skills .thumbnail:hover .list {
  visibility: visible;
  opacity: 1
}

.skills .icon {
  font-size: 190px;
  color: #00c2eb
}

.projects .row {
  margin: 30px 0
}

.project-title {
  text-transform: uppercase;
  color: darkslateblue;
  font-size: 30px;
  padding: 30px 0;
  text-align: center;
  letter-spacing: 7px;
}

.projects .caption {
  padding: 30px;
  margin: 30px;
}


.projects .thumbnail {
  padding: 10px;
  box-shadow: 0 0 20px #999;
}

.social-icons a {
  font-size: 20px;
  color: #0c9;
  margin: 10px 0;
  width: 40px;
  height: 40px;
  margin: 3px;
  border: 2px solid #0c9;
  text-align: center;
  padding: 5px 20px;
}

.social-icons a:hover {
  text-decoration: none;
  color: #000;
  background-color: #0c9;
  box-shadow: 2px 2px 11px rgba(201, 52, 52, 0)
}

.digit {
  position: absolute;
  top: 90px;
  transform: rotate(-90deg);
  color: #000;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  right: 10px;
}

.copyright {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  background-color: #000;
  color: #0c9;
  padding: 20px 40px;
}

.copyright p {
  margin: 0;
}

.connect {
  background: url(../img/banner-footer.jpg) no-repeat center fixed;
}

.connect .thumbnail {
  margin: 15px;
  height: 300px;
  box-shadow: 0 2px 15px #999;
  transition: all .3s ease-out;
  border: 15px solid #000;
  background-color: #fff;
  background-image: linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.connect .thumbnail:hover {
  transform: translate(0, -10px);
  transition: all 1.4s;
}

.tech {
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(0, 40, 86);
  padding: 10px ;
  text-align: center;
}

.connect .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}